@media only screen and (max-width: 1490px) {
    .hero-container .hero .hero-left p br,
    .hero-container .hero .hero-left h1 br {
        display: none;
    }
    .hero-container .hero img {
        width: 650px;
    }
    .blog-container .blog {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 1340px) {
    .hero-container .hero img {
        width: 550px;
    }
    .service-section .service {
        grid-template-columns: repeat(2, 1fr);
    }
    .serv_2 {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .counter {
        grid-template-columns: repeat(3, 1fr);
    }
    .about-section {
        flex-direction: column;
        width: 80%;
    }
    .about-section .about-right {
        margin-top: 40px;
    }
    .about-section .about-right img:last-child {
        margin-top: 0;
    }
}
@media only screen and (max-width: 1140px) {
    .hero-container .hero {
        flex-direction: column;
    }
    .hero-container .hero .hero-left p,
    .hero-container .hero .hero-left h1 {
        padding-right: 200px;
    }
    .hero-container .hero img {
        width: 80%;
    }
    .blog-container .blog {
        grid-template-columns: repeat(2, 1fr);
    }
    .testimonial-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-container .team {
        grid-template-columns: repeat(3, 1fr);
    }
    .contact-container .contact {
        flex-direction: column;
    }
    .contact-container .contact .contact-right {
        width: 100%;
    }
}
@media only screen and (max-width: 1000px) {
    .hero-container .hero img {
        width: 100%;
    } 
    .serv_2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .serv_2 .bx_2 .buttom-part {
        width: 100%;
    }
    .counter {
        grid-template-columns: repeat(2, 1fr);
    }
    .team-container .team {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 770px) {
    .hero-container .hero .hero-left p,
    .hero-container .hero .hero-left h1 {
        padding-right: 0;
    }
    .service-section .service {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog-container .blog {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .blog-container .blog .blog-box {
        margin-bottom: 30px;
    }
    .about-section .about-right {
        margin-top: 40px;
        flex-direction: column;
    }
    .about-section .about-right img:last-child {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 620px) {
    .hero-container .hero .hero-left h1 {
        font-size: 40px;
    }
    .service-section h2 br {
        display: none;
    }
    .counter {
        grid-template-columns: repeat(1, 1fr);
    }
    .help-container h2 {
        font-size: 30px;
    }
    .help-container {
        width: 100%;
    }
    .testimonial-container .question p {
        margin-left: 0;
    }
    .testimonial-container .testimonial .slider {
        width: 380px;
    }
    .team-container .team {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-container .contact .contact-right .ne {
        width: 100%;
        margin-top: 20px;
    }
    .contact-container .contact .contact-right .sub,
    .contact-container .contact .contact-right .tx-area {
        width: 100%;
    }

}
@media only screen and (max-width: 430px) {
    .serv_2 .bx_2 .buttom-part {
        top: 200px;
    }
    .counter .count h4 span {
        font-size: 30px;
    }
    .about-section .about-right img{
        margin-left: 0;
        width: 100%;
    }
    .testimonial-container h2 {
        font-size: 25px;
    }
    .service-section h2 {
        font-size: 25px;
    }
    .testimonial-container .testimonial .slider {
        width: 280px;
    }
}
@media only screen and (max-width: 390px) {
    .hero-container .hero .hero-left .hero-all-btn {
        flex-direction: column;
    }
    .hero-container .hero .hero-left .hero-all-btn .learn-btn {
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .service-section .service .box img {
        width: 90px;
    }
    .service-section .service .box h2 {
        font-size: 20px;
    }
}